GOOGLE_SHEETS_ID=your_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_KEY={"type":"service_account",...whole json...}
NEXT_PUBLIC_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSdQTfNUexZe2TSq_HtX9Q_Bf9ggv1BEZJjPFI3ri3oEtTWSUg/viewform
NEXT_PUBLIC_FORM_FIELD_LEAGUE_ID=entry.1550793172
NEXT_PUBLIC_FORM_FIELD_SEASON_ID=entry.870060531
NEXT_PUBLIC_APP_NAME=NeighbourLeague
